.backlinks {
position: static;
margin: -20px -10px 0px 0px;
& > h6 {
    font-family: "Vazirmatn", sans-serif;
    font-size: 20px;
    font-weight: 900;
    margin: 0px 0px 5px 0px;
}
& > ul {
    height: 250px;
    border-radius: 10px;
    border: 1px solid var(--lightgray);
    box-sizing: border-box;
    position: static;
    font-size: 16px;
    font-weight: 600;
    list-style: none;
    box-shadow: 0px 0px 10px 1px var(--gray);
    & > li {
    & > a {
        background-color: transparent;
    }
    }
}
}
