.recent-notes {
  margin-top: 38px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: 1px solid var(--lightgray);
  box-sizing: border-box;
  position: relative;
  list-style: none;
  max-height: 250px;
  & > h3 {
    font-family: 'Vazirmatn', sans-serif;
    font-size: 20px;
    font-weight: 900; /* Black */
    margin-top: -31px;
  }

  & > ul.recent-ul {
    list-style: none;
    text-align: center;
    margin: 0px -40px 0 0;

    & > li {
      margin-top: -10px;
      font-family: 'Vazirmatn', sans-serif;
      font-size: 14px;
      font-weight: 500; /* Black */
      line-height: 1rem;
      .section > .desc > h3 > a {
        font-size: 16px;
        font-weight: 600; /* Black */
        line-height: 1rem;
        background-color: transparent;
      }

      .section > .meta {
        margin: 0 0 0.5rem 0;
        opacity: 0.6;
      }
    }
  }
}
