@use "./base.scss";
  
// put your custom CSS here!


.giscus {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: 1px solid var(--lightgray);
  box-sizing: border-box;
  padding: 10px 10px 0 10px;
  position: relative;
  overflow: hidden;
  list-style: none;
  overflow: hidden;
}


.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.social-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  transition: transform 0.3s ease;
}

.social-icon:hover {
  transform: scale(1.2);
}

.icon {
  width: 100%;
  height: 100%;
  fill: #333;
  transition: fill 0.3s ease;
}

.icon-linkedin:hover {
  fill: #0077b5;
}

.icon-instagram:hover {
  fill: #e4405f;
}

.icon-twitter:hover {
  fill: #1da1f2;
}

.icon-telegram:hover {
  fill: #0088cc;
}

.icon-github:hover {
  fill: #181717;
}

header {
    border-radius: 10px;
    border: 1px solid var(--lightgray);
    box-sizing: border-box;
    padding: 10px;
    position: static;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

.popover-hint {
    border-radius: 10px;
    border: 1px solid var(--lightgray);
    box-sizing: border-box;
    padding: 10px;
    position: static;
    overflow: hidden;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}



body {
    font-family: 'Vazirmatn', sans-serif;
    font-size: 16px;
    font-weight: 500; /* SemiBold */
    line-height: 1.5;
    direction: rtl;
    text-align: justify;
}

h1 {
    font-family: 'Vazirmatn', sans-serif;
    font-size: 30px;
    font-weight: 900; /* Black */
    text-align: center;
}

h2, h3, h4, h5, h6 {
    font-family: 'Vazirmatn', sans-serif;
    font-size: 20px;
    font-weight: 700; /* Black */
}

.tags {
    display: block;
    line-height: 2.3;
    align-items: center;
    text-align: center;
    font-size: 14px;
} 

.breadcrumb-element p {
    margin: 0 .5rem 0 0;
    padding: 0;
    line-height: normal;
}

.graph{
  margin-top: -20px;
}


button#explorer .fold {
    opacity: 0.8;
    margin-left: 0 !important;
    margin-top: 7px;
    margin-right: 10px !important;
    transition: transform .3s;
}
 
.content-meta[show-comma="true"] > span:not(:last-child) {
    margin-left: 8px !important;
    margin-right: 0px !important;
}
 
.tags {
  margin-bottom: 40px;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
 
.folder-icon {
    margin-right: 0px !important;
    margin-left: 5px !important;
}
 
 
#toc-content .depth-1 {
    padding: 0px !important;
    padding-right: 1rem !important;
}
 
#toc-content .depth-2 {
    padding: 0px !important;
    padding-right: 2rem !important;
}
 
#toc-content .depth-3 {
    padding: 0px !important;
    padding-right: 3rem !important;
}
 
li:has(> .folder-outer:not(.open)) > .folder-container > svg {
    transform: rotate(90deg) !important;
}
 
div.search.mobile-only {
    padding-right: 10px !important;
}
 
code { 
	direction: ltr !important;
}