@use "./base.scss";
@use "./variables.scss" as *;
  
// put your custom CSS here!

#quartz-body {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: -25px 0 0 0;
}

#quartz-body > div.right.sidebar > div.backlinks > ul {
  padding: 1rem 1rem 0 0;
}
#quartz-body > div.center > div.popover-hint > div > div > ul {
  text-align: justify;
  margin: 0;
  padding: 0;
}

#quartz-body ol {
  margin: 0 1rem 0 0;
  padding: 0 0 0 0;
}

#quartz-body ul{
  margin: 0 1rem 0 0;
  padding: 0 0 0 0;
}


ul.overflow::after {
  content: none;
}


#toc-content .depth-1 {
  padding: 0px !important;
  padding-right: 1rem !important;
}

#toc-content .depth-2 {
  padding: 0px !important;
  padding-right: 2rem !important;
}

#toc-content .depth-3 {
  padding: 0px !important;
  padding-right: 3rem !important;
}

#explorer-ul .content{
  margin: 0 !important;
  padding: 0 10px 0 0 !important;

}



.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.social-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  transition: transform 0.3s ease;
}

.social-icon:hover {
  transform: scale(1.2);
}

.icon {
  width: 100%;
  height: 100%;
  fill: #333;
  transition: fill 0.3s ease;
}

.icon-linkedin:hover {
  fill: #0077b5;
}

.icon-instagram:hover {
  fill: #e4405f;
}

.icon-twitter:hover {
  fill: #1da1f2;
}

.icon-telegram:hover {
  fill: #0088cc;
}

.icon-github:hover {
  fill: #181717;
}

#quartz-body > div.center > div.page-footer > div.giscus {
  background-color: var(--light);
  border-radius: 10px;
  border: 0px 1px 1px 1px solid var(--lightgray);
  box-sizing: border-box;
  margin-top: -100px;
  padding: 10px 10px 2px 10px;
  position: static;
  overflow: hidden;
  box-shadow: 0px 10px 10px 0px var(--gray);
  text-align: justify;
  align-items: center;  
}


header {
  background-color: var(--light);
  top: 0;
  right: 0;
  margin-top: 0px;
  margin-bottom: 0;
  border-radius: 0px 0px 10px 10px;
  border: 1px solid var(--lightgray);
  box-sizing: border-box;
  padding: 20px;
  position: fixed;
  display: flex;
  width: 100%;
  background-color: var(--light);
  height: 30px;
  box-shadow: 0px 0px 10px 1px var(--gray);
  z-index: 1;
}


.popover-hint {
    border-radius: 10px;
    border: 1px solid var(--lightgray);
    box-sizing: border-box;
    padding: 10px;
    position: static;
    overflow: hidden;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px 1px var(--gray);
}



body {
    font-family: 'Vazirmatn', sans-serif;
    font-size: 16px;
    font-weight: 500; /* SemiBold */
    direction: rtl;
    text-align: justify;
}

h1 {
    font-family: 'Vazirmatn', sans-serif;
    font-size: 30px;
    font-weight: 900; /* Black */
    text-align: center;
}

h2, h3, h4, h5, h6 {
    font-family: 'Vazirmatn', sans-serif;
    font-size: 20px;
    font-weight: 700; /* Black */
}

.tags {
    display: block;
    line-height: 2.3;
    align-items: center;
    text-align: center;
    font-size: 14px;
} 

.breadcrumb-element p {
    margin: 0 .5rem 0 0;
    padding: 0;
    line-height: normal;
}

.graph{
  margin-top: -20px;
}

.tags {
    padding-left: 0px !important;
    padding-right: 0px !important;
}